# defaults to localhost
#VITE_SERVER=localhost

# defaults to 8076
#VITE_PORT=8076

# Use this to enable non-secure communications for testing.
#VITE_REJECT_UNAUTHORIZED=0

VITE_DB_USER=X
VITE_DB_PASS=X